@charset "UTF-8";
/*-------------Обнуление--------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------Общие стили--------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
  background-color: rgba(125, 124, 124, 0.83);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 670px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 310px;
    padding: 0 5px;
  }
}

.title {
  font-family: "Poiret One", cursive;
  font-weight: 700;
  color: #b3d2ed;
  letter-spacing: 1.51px;
}

.text {
  line-height: 25px;
}

.section {
  padding: 80px 0;
  border-top: 2px solid #e09bd7;
}
@media (max-width: 1200px) {
  .section {
    padding: 70px 0;
  }
}
@media (max-width: 950px) {
  .section {
    padding: 60px 0;
  }
}
@media (max-width: 700px) {
  .section {
    padding: 45px 0;
  }
}
.section__title {
  margin-bottom: 60px;
  font-size: 60px;
  text-align: center;
  color: #83c4ec;
}
@media (max-width: 1200px) {
  .section__title {
    margin-bottom: 55px;
    font-size: 56px;
  }
}
@media (max-width: 950px) {
  .section__title {
    margin-bottom: 45px;
    font-size: 50px;
  }
}
@media (max-width: 700px) {
  .section__title {
    margin-bottom: 35px;
    font-size: 45px;
  }
}
.section__text {
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 950px) {
  .section__text {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .section__text {
    font-size: 16px;
  }
}
.section__text:last-child {
  margin-bottom: 40px;
}
@media (max-width: 950px) {
  .section__text:last-child {
    margin-bottom: 35px;
  }
}
@media (max-width: 700px) {
  .section__text:last-child {
    margin-bottom: 20px;
  }
}
.section__subtitle {
  margin-bottom: 40px;
  font-size: 35px;
  text-align: center;
}
@media (max-width: 950px) {
  .section__subtitle {
    margin-bottom: 35px;
  }
}
@media (max-width: 700px) {
  .section__subtitle {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
.section__gallery {
  display: flex;
  flex-wrap: wrap;
}
.section__gallery-item {
  width: 25%;
}
@media (max-width: 700px) {
  .section__gallery-item {
    width: 50%;
  }
}
.section__img {
  width: 100%;
}
.section__item {
  margin-bottom: 90px;
}
@media (max-width: 950px) {
  .section__item {
    margin-bottom: 75px;
  }
}
@media (max-width: 700px) {
  .section__item {
    margin-bottom: 55px;
  }
}
.section__item:last-child {
  margin-bottom: 0;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 45px;
  height: 45px;
  background-color: rgba(125, 124, 124, 0.83);
  color: #fff;
  cursor: pointer;
  outline: none;
  border: 3px solid #fff;
  border-radius: 10%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus {
  color: #83c4ec;
  border: 3px solid #83c4ec;
}

.header {
  padding: 2px 0;
  border-bottom: 2px solid #e09bd7;
  border-top: 2px solid #e09bd7;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .header__content.container {
    max-width: 95%;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .header__nav-list {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .header__nav-list li {
    position: relative;
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }
  .header__nav-list li:nth-child(2).submenu-link {
    margin-bottom: 170px;
  }
}
.header__nav-link {
  margin: 0 15px;
  font-size: 22px;
  font-family: "Poiret One", cursive;
  font-weight: 700;
  color: #83c4ec;
  letter-spacing: 1.51px;
}
.header__nav-link:hover {
  color: #e09bd7;
  transition: all 0.6s;
}
@media (max-width: 1200px) {
  .header__nav-link {
    margin: 0 12px;
  }
}
@media (max-width: 950px) {
  .header__nav-link {
    display: block;
    padding: 5px 0;
    width: 135px;
    margin: 0 auto;
    font-size: 28px;
    color: #fff;
    border: 4px solid #e09bd7;
  }
}
.header__nav-link li {
  position: relative;
}
.header__subnav-list {
  opacity: 0;
  min-width: 200px;
  position: absolute;
  left: 5;
  top: 20;
  padding: 15px 0px 0px 0px;
}
@media (max-width: 950px) {
  .header__subnav-list {
    opacity: 1;
    left: 50%;
    top: 20;
    transform: translateX(-50%);
  }
}
.header__subnav-link {
  width: 130px;
  color: #7d7c7c;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 3px;
  background-color: #e09bd7;
  text-align: center;
}
.header__subnav-link:hover {
  background-color: #b3d2ed;
  transition: all 0.5s;
}

.logo {
  width: 100%;
}

.nav__icon {
  display: none;
}
@media (max-width: 950px) {
  .nav__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    transform: rotate(180deg);
  }
  .nav__icon span {
    position: absolute;
    background-color: #83c4ec;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
    background-color: #83c4ec;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon.active span {
    transform: translateX(2px);
  }
  .nav__icon.active::before {
    transform: rotate(-47deg);
    width: 75%;
  }
  .nav__icon.active::after {
    transform: rotate(47deg);
    width: 75%;
  }
}
@media (max-width: 950px) {
  .nav__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background: url(../img/bg/bg4.png) center/cover no-repeat;
    padding-top: 150px;
    z-index: 1;
  }
}
.nav__body.active {
  top: 0;
}

body .header__nav-list > li:hover .header__subnav-list {
  opacity: 1;
  transition: all 1s;
}

/*----BANNER----*/
.banner {
  padding: 280px 0;
  background: url(../img/bg/bg1.png) center/cover no-repeat;
}
@media (max-width: 1200px) {
  .banner {
    padding: 250px 0;
  }
}
@media (max-width: 950px) {
  .banner {
    padding: 200px 0;
  }
}
@media (max-width: 700px) {
  .banner {
    padding: 180px 0;
  }
}
.banner__content {
  max-width: 770px;
  margin: 0 auto;
}
.banner__title {
  margin-bottom: 55px;
  font-size: 84px;
  text-align: center;
  color: #e09bd7;
  text-transform: uppercase;
}
.banner__title::before, .banner__title::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 15px 17px;
  background-color: #e09bd7;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .banner__title::before, .banner__title::after {
    width: 12px;
    height: 12px;
    margin: 0 9px 12px;
  }
}
@media (max-width: 1200px) {
  .banner__title {
    font-size: 80px;
    margin-bottom: 50px;
  }
}
@media (max-width: 950px) {
  .banner__title {
    font-size: 70px;
    margin-bottom: 45px;
  }
}
@media (max-width: 700px) {
  .banner__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .banner__title {
    font-size: 42px;
    margin-bottom: 35px;
  }
}
.banner__subtitle {
  font-size: 30px;
  text-align: center;
}
@media (max-width: 1200px) {
  .banner__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 950px) {
  .banner__subtitle {
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .banner__subtitle {
    font-size: 22px;
  }
}
@media (max-width: 500px) {
  .banner__subtitle {
    font-size: 15px;
  }
}

/*---ABOUT---*/
.about__images {
  width: 95%;
  margin: 55px auto 0;
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .about__images {
    flex-direction: column;
    margin: 35px auto 0;
  }
}
.about__img {
  width: 32%;
}
@media (max-width: 700px) {
  .about__img {
    width: 90%;
  }
}

/*----OFFERS---*/
.offers {
  background: url(../img/bg/bg2.png) center/cover no-repeat;
}
.offers__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .offers__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.offers__text {
  width: 50%;
}
@media (max-width: 950px) {
  .offers__text {
    width: 95%;
  }
}
.offers__info {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .offers__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 950px) {
  .offers__info {
    width: 90%;
  }
}
.offers__info-item {
  width: 49%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #b3d2ed;
}
.offers__info-item:last-child {
  margin: 0 auto;
}
@media (max-width: 700px) {
  .offers__info-item {
    width: 90%;
  }
}
.offers__img-container {
  width: 100%;
  height: 180px;
}
@media (max-width: 1200px) {
  .offers__img-container {
    height: 140px;
  }
}
.offers__img {
  width: 100%;
}
.offers__info-link {
  display: block;
  margin: 0px auto 10px;
  text-align: center;
  font-size: 22px;
}
.offers__info-link:hover {
  color: #e09bd7;
}
@media (max-width: 950px) {
  .offers__info-link {
    margin: 60px auto 10px;
  }
}
@media (max-width: 700px) {
  .offers__info-link {
    margin: 30px auto 10px;
  }
}
.offers__info-text {
  display: block;
  text-align: center;
  font-size: 14px;
}

/*-----GALLERY----*/
.gallery__content {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  .gallery__content {
    justify-content: center;
  }
}
.gallery__content-item {
  width: 20%;
}
@media (max-width: 950px) {
  .gallery__content-item {
    width: 25%;
  }
}
@media (max-width: 700px) {
  .gallery__content-item {
    width: 32%;
  }
}
.gallery__img {
  width: 100%;
}

/*----Price----*/
.price {
  background: url(../img/bg/bg3.png) center/cover no-repeat;
}
.price__content {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 950px) {
  .price__content {
    width: 85%;
  }
}
@media (max-width: 700px) {
  .price__content {
    width: 100%;
  }
}
.price__card {
  padding: 10px 30px;
  margin-bottom: 15px;
  border: 1px solid #b3d2ed;
}
@media (max-width: 700px) {
  .price__card {
    padding: 10px 15px;
  }
}
.price__card-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #b3d2ed;
}
.price__card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.price__card-item:last-child {
  margin-bottom: 0;
}
.price__card-price {
  text-align: center;
}
@media (max-width: 700px) {
  .price__card-price {
    width: 18%;
  }
}
@media (max-width: 950px) {
  .price__card-position, .price__card-price {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .price__card-position, .price__card-price {
    font-size: 14px;
  }
}

/*----MANICURE----*/
.about-manicure {
  padding: 135px 0;
  background: url(../img/bg/bg5.png) center/cover no-repeat;
}
@media (max-width: 950px) {
  .about-manicure {
    padding: 100px 0;
  }
}
@media (max-width: 700px) {
  .about-manicure {
    padding: 80px 0;
  }
}
.about-manicure__content {
  width: 50%;
}
@media (max-width: 700px) {
  .about-manicure__content {
    width: 75%;
  }
}
.about-manicure .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*----PEDICURE----*/
.about-pedicure {
  padding: 95px 0;
  background: url(../img/bg/bg4.png) center/cover no-repeat;
}
@media (max-width: 950px) {
  .about-pedicure {
    padding: 80px 0;
    background: url(../img/bg/bg2.png) center/cover no-repeat;
  }
}
@media (max-width: 700px) {
  .about-pedicure {
    padding: 60px 0;
  }
}
.about-pedicure__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .about-pedicure__content {
    flex-direction: column;
  }
}
.about-pedicure__info {
  width: 42%;
}
@media (max-width: 950px) {
  .about-pedicure__info {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .about-pedicure__info {
    width: 96%;
  }
}
.about-pedicure__img {
  width: 40%;
}
@media (max-width: 950px) {
  .about-pedicure__img {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .about-pedicure__img {
    width: 70%;
  }
}

/*----REGENERACJA----*/
.about-regeneration {
  padding: 80px 0;
  background: url(../img/bg/bg.png) center/cover no-repeat;
}
@media (max-width: 950px) {
  .about-regeneration {
    padding: 70px 0;
  }
}
@media (max-width: 700px) {
  .about-regeneration {
    padding: 60px 0;
  }
}
.about-regeneration__content {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 700px) {
  .about-regeneration__content {
    justify-content: center;
  }
}
.about-regeneration__info {
  width: 65%;
}
@media (max-width: 950px) {
  .about-regeneration__info {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .about-regeneration__info {
    width: 98%;
  }
}
.about-regeneration__img {
  display: block;
  width: 35%;
  margin: 0 auto 15px;
  text-align: center;
  border: 4px solid #fff;
}
@media (max-width: 950px) {
  .about-regeneration__img {
    width: 45%;
  }
}
@media (max-width: 700px) {
  .about-regeneration__img {
    width: 75%;
  }
}

.footer {
  padding-top: 30px;
  border-top: 2px solid #e09bd7;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__content-item {
  width: 35%;
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .footer__content-item {
    width: 95%;
  }
}
.footer__logo {
  display: block;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.footer__link {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.footer__text {
  display: block;
  text-align: center;
}
@media (max-width: 700px) {
  .footer__text {
    font-size: 16px;
  }
}
.footer__title-text {
  display: block;
  margin-bottom: 15px;
  color: #83c4ec;
  text-align: center;
}
.footer__address-text {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #83c4ec;
}
@media (max-width: 700px) {
  .footer__address-text {
    font-size: 16px;
  }
}
.footer__copyright {
  padding: 10px 0;
  background-color: #7d7c7c;
  text-align: center;
  border-top: 2px solid #e09bd7;
}
.footer__copyright-text {
  font-size: 14px;
  text-align: center;
}

.social {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 700px) {
  .social {
    width: 60%;
  }
}
.social__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7d7c7c;
  border: 2px solid #e09bd7;
}
.social__link:hover {
  background-color: #e09bd7;
  border: 2px solid #7d7c7c;
  transition: all 0.6s;
}
.social__link:hover .social__icon {
  color: #7d7c7c;
  transition: all 0.6s;
}
.social__icon {
  color: #e09bd7;
}

.worktime-text {
  margin-left: 20px;
}
@media (max-width: 700px) {
  .worktime-text {
    margin-left: 10px;
    font-size: 16px;
  }
}