@charset "UTF-8";
/*-------------Обнуление--------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------Общие стили--------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
  background-color: rgba(125, 124, 124, 0.83);
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 670px;
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 310px;
    padding: 0 5px;
  }
}

.title {
  font-family: "Poiret One", cursive;
  font-weight: 700;
  color: #b3d2ed;
  letter-spacing: 1.51px;
}

.text {
  line-height: 25px;
}

.section {
  padding: 80px 0;
}
@media (max-width: 1200px) {
  .section {
    padding: 70px 0;
  }
}
@media (max-width: 950px) {
  .section {
    padding: 60px 0;
  }
}
@media (max-width: 700px) {
  .section {
    padding: 45px 0;
  }
}
.section__title {
  margin-bottom: 60px;
  font-size: 60px;
  text-align: center;
  color: #83c4ec;
}
@media (max-width: 1200px) {
  .section__title {
    margin-bottom: 55px;
    font-size: 56px;
  }
}
@media (max-width: 950px) {
  .section__title {
    margin-bottom: 45px;
    font-size: 50px;
  }
}
@media (max-width: 700px) {
  .section__title {
    margin-bottom: 35px;
    font-size: 45px;
  }
}
.section__text {
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 950px) {
  .section__text {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .section__text {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
.section__text:last-child {
  margin-bottom: 40px;
}
@media (max-width: 950px) {
  .section__text:last-child {
    margin-bottom: 35px;
  }
}
@media (max-width: 700px) {
  .section__text:last-child {
    margin-bottom: 20px;
  }
}
.section__subtitle {
  margin-bottom: 40px;
  font-size: 35px;
  text-align: center;
}
.section__gallery {
  display: flex;
}
.section__gallery-item {
  width: 25%;
}
.section__img {
  width: 100%;
}
.section__item {
  margin-bottom: 90px;
}
.section__item:last-child {
  margin-bottom: 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-link {
  margin: 0 15px;
  font-size: 22px;
  font-family: "Poiret One", cursive;
  font-weight: 700;
  color: #83c4ec;
  letter-spacing: 1.51px;
}
@media (max-width: 1200px) {
  .header__nav-link {
    margin: 0 12px;
  }
}
.header__subnav-list {
  display: none;
  min-width: 200px;
  position: absolute;
  left: 0;
  top: 20px;
  padding: 20px 0px 0px 0px;
}
.header__subnav-link {
  width: 130px;
  color: #7d7c7c;
  display: inline-block;
  padding: 5px 10px;
  background-color: #83c4ec;
  text-align: center;
}
.header li {
  position: relative;
}

.logo {
  width: 100%;
}

.arrow {
  display: none;
  position: absolute;
  right: 0;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.arrow.active {
  transform: rotate(-180deg);
}

body.mouse .header__nav-list > li:hover .header__subnav-list {
  display: block;
}

body.touch .header__subnav-list.open {
  display: block;
}

body.touch .arrow {
  display: block;
}

/*----BANNER----*/
.banner {
  padding: 280px 0;
  background: url(../img/bg/bg1.png) center/cover no-repeat;
}
@media (max-width: 1200px) {
  .banner {
    padding: 250px 0;
  }
}
@media (max-width: 950px) {
  .banner {
    padding: 200px 0;
  }
}
@media (max-width: 700px) {
  .banner {
    padding: 180px 0;
  }
}
.banner__content {
  max-width: 770px;
  margin: 0 auto;
  padding-left: 200px;
}
@media (max-width: 1200px) {
  .banner__content {
    padding-left: 180px;
  }
}
@media (max-width: 950px) {
  .banner__content {
    padding-left: 160px;
  }
}
@media (max-width: 700px) {
  .banner__content {
    padding-left: 140px;
  }
}
.banner__title {
  margin-bottom: 55px;
  font-size: 84px;
  text-align: center;
  color: #e09bd7;
  text-transform: uppercase;
}
.banner__title::before, .banner__title::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 15px 17px;
  background-color: #e09bd7;
  border-radius: 50%;
}
@media (max-width: 1200px) {
  .banner__title {
    font-size: 80px;
    margin-bottom: 50px;
  }
}
@media (max-width: 950px) {
  .banner__title {
    font-size: 70px;
    margin-bottom: 45px;
  }
}
@media (max-width: 700px) {
  .banner__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
.banner__subtitle {
  font-size: 30px;
  text-align: center;
}
@media (max-width: 1200px) {
  .banner__subtitle {
    font-size: 28px;
  }
}
@media (max-width: 950px) {
  .banner__subtitle {
    font-size: 26px;
  }
}
@media (max-width: 700px) {
  .banner__subtitle {
    font-size: 24px;
  }
}

/*---ABOUT---*/
.about__images {
  width: 95%;
  margin: 55px auto 0;
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .about__images {
    flex-direction: column;
    margin: 35px auto 0;
  }
}
.about__img {
  width: 32%;
}
@media (max-width: 700px) {
  .about__img {
    width: 90%;
  }
}

/*----OFFERS---*/
.offers {
  background: url(../img/bg/bg2.png) center/cover no-repeat;
}
.offers__content {
  display: flex;
  justify-content: space-between;
}
.offers__text {
  width: 50%;
}
.offers__info {
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offers__info-item {
  width: 49%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #b3d2ed;
}
.offers__info-item:last-child {
  margin: 0 auto;
}
.offers__img-container {
  width: 100%;
  height: 180px;
}
.offers__img {
  width: 100%;
}
.offers__info-link {
  display: block;
  margin: 0 auto 10px;
  text-align: center;
  font-size: 22px;
}
.offers__info-link:hover {
  color: #e09bd7;
}
.offers__info-text {
  display: block;
  text-align: center;
  font-size: 14px;
}

/*-----GALLERY----*/
.gallery__content {
  display: flex;
  flex-wrap: wrap;
}
.gallery__content-item {
  width: 20%;
}
.gallery__img {
  width: 100%;
}

/*----Price----*/
.price {
  background: url(../img/bg/bg3.png) center/cover no-repeat;
}
.price__content {
  width: 70%;
  margin: 0 auto;
}
.price__card {
  padding: 10px 30px;
  margin-bottom: 15px;
  border: 1px solid #b3d2ed;
}
.price__card-title {
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid #b3d2ed;
}
.price__card-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.price__card-item:last-child {
  margin-bottom: 0;
}
/*----MANICURE----*/
.about-manicure {
  padding: 135px 0;
  background: url(../img/bg/bg5.png) center/cover no-repeat;
}
.about-manicure__content {
  width: 50%;
}
.about-manicure .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*----PEDICURE----*/
.about-pedicure {
  padding: 95px 0;
  background: url(../img/bg/bg4.png) center/cover no-repeat;
}
.about-pedicure__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.about-pedicure__info {
  width: 42%;
}
.about-pedicure__img {
  width: 40%;
}

/*----REGENERACJA----*/
.about-regeneration {
  padding: 80px 0;
  background: url(../img/bg/bg.png) center/cover no-repeat;
}
.about-regeneration__content {
  display: flex;
  justify-content: flex-end;
}
.about-regeneration__info {
  width: 65%;
}
.about-regeneration__img {
  display: block;
  width: 35%;
  margin: 0 auto 15px;
  text-align: center;
  border: 4px solid #fff;
}

.footer {
  padding-top: 30px;
  border-top: 5px solid #7d7c7c;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content-item {
  width: 30%;
  margin-bottom: 30px;
}
.footer__logo {
  display: block;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.footer__link {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.footer__text {
  display: block;
  text-align: center;
}
.footer__title-text {
  display: block;
  margin-bottom: 15px;
  color: #83c4ec;
  text-align: center;
}
.footer__address-text {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #83c4ec;
}
.footer__copyright {
  padding: 10px 0;
  background-color: #7d7c7c;
  text-align: center;
}
.footer__copyright-text {
  font-size: 14px;
  text-align: center;
}

.social {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3d2ed;
  border: 1px solid #83c4ec;
}
.social__icon {
  color: rgba(255, 255, 255, 0.95);
}

.worktime-text {
  margin-left: 20px;
}